@import url('https://fonts.googleapis.com/css2?family=Mansalva&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Mansalva', cursive;
}

html{
    height: 100%;
}

body{
    min-height: 100%;
    background: linear-gradient(45deg, pink, blue);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header{
    text-align: center;
    padding: 20px;
    color: rgb(255, 215, 215);
    font-size: 32px;
    flex: 1;
}

.main{
    flex: 1;
}

.tools{
    background-color: rgba(255, 255, 255, 0.5);
    height: 480px;
    position: absolute;
    top:  50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 10px;
    padding-right: 10px;
}

.tools img{
    height: 50px;
    width: 50px;
    align-self: center;
}

label {
    display: block;
    text-align: center;
}
.btn{
    font-size: larger;
    background-color: transparent;
    border-radius: 10%;
    padding: 5px;
    cursor: pointer;
}

.btn:hover{
    transform: scale(1.1);
}
.btn-black{
    color: white;
    background-color: black;
}

.btn-random{
    color: white;
    background-image: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet);
}

.btn-erase{
    background-color: white;
}

.grid{
    height: 480px;
    width: 480px;
    background-color: white;
    border: 5px solid black;
    position: absolute;
    top:  50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-wrap: wrap;
}

.footer p{
    padding: 20px;
    text-align: center;
    font-family: sans-serif;
}

.pixel {
    user-select: none;
    -webkit-user-drag: none;
  }
